<!DOCTYPE html>
<html>
<head>
    <title>Neubias linked data demos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="css/uikit.min.css" />-->
    <!--<script src="{{ url_for('static',filename='js/uikit.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static',filename='js/uikit-icons.min.js') }}"></script>-->

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/uikit.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css')}}">
</head>

<body>
<div class="columns">

    <div class="column is-one-quarter">
        <section class="section">
            <!--<div class="container">-->
        {% block nav %}
        {% endblock %}
            <!--</div>-->
        </section>
    </div>

    <div class="column">
        <section class="section">
            <!--<div class="container">-->
        {% block body %}
        {% endblock %}
            <!--</div>-->
        </section>
    </div>
</div>
</body>
</html>