<div class="uk-card uk-card-body" uk-sticky="bottom: #top; media: 640">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li><a href="{{ url_for('index') }}"><span class="uk-margin-small-right" uk-icon="icon: home"></span>
            Home</a></li>
        <li class="uk-nav-header">Demos</li>
        <li><a href="{{ url_for('demoQ3') }}"><span class="uk-margin-small-right" uk-icon="icon: play"></span> Tools graph demo</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: play"></span> ML demo</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: play"></span> Visualize</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-in"></span> Sign-in</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Sign-out</a></li>
    </ul>
</div>