<!DOCTYPE>
<html>
  <head>
    <title>Count of software per EDAM topics</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
     <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static',filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/uikit-icons.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/uikit.min.css') }}">
  </head>
  <body>
    <h1>Count of software per EDAM topics</h1>
    <div id="cy"></div>
<table classe="uk-table">

<tbody>
{% for row in tbl %}
    <tr>
      <td>{{ row.name }}</td>
      <td>{{ row.count }}</td>
    </tr>
{% endfor %}
</tbody>
</table>


  </body>
</html>
