<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="css/uikit.min.css" />-->
        <script src="{{ url_for('static',filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/uikit-icons.min.js') }}"></script>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/uikit.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/app.css') }}">
    </head>
    <body>

    <div class="uk-container uk-container-small">
    <h1>Welcome</h1>
    </div>

    <div class="uk-container uk-container-small">

    </div>

    <div class="uk-container uk-container-small">
        <div class="uk-column-1-2@s uk-column-1-3@m uk-column-1-4@l">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum ornare libero eget blandit. Nullam sit amet velit posuere, vehicula ante quis, finibus odio. Phasellus pellentesque ante nec ipsum pulvinar molestie. Integer vel massa aliquet, maximus lacus sed, vulputate justo. Praesent consequat et dui ac tempus. </p>

            <p>Sed quis urna lacus. Vivamus ultrices felis at orci sagittis mattis ut at lorem. Sed a placerat tellus. Quisque pellentesque at erat at finibus. Praesent at euismod magna.</p>
        </div>
    </div>

    <div class="uk-container uk-container-small">
        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </div>
            <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </div>
            <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.
            </div>
        </div>
    </div>

    </body>
</html>